<%= stylesheet_link_tag "application" %>

<div class="all_users"> 
<h1>Names of all the users</h1>
        <% @users.each do |user| %>
            <a href=<%= "/users/#{user.id}" =%> >  
                <div class="user-container">
                        <img src="<%=user.photo %>" alt="User profile" width="130" height="130"><br>
                        <div class="single-user">
                            <h2>User Name: <%= user.name %></h2><br>
                            <div class="single-user-insider">
                            <p>No.of Posts: <%= user.posts_counter %> </p><br>
                            </div>
                        </div>
                </div>  
            </a>
        <% end %>
</div>