<%= stylesheet_link_tag "application"%>

<div class="all_users">
    <h1>A particular post</h1>
    <div class="user-container">
            <div class="single-post">
                    <div class ="single-post-top">
                        <p>Post #<%= @post.id %> by: <%= @post.author.name %></p><br>
                        <div class="single-post-top-content">
                            <p>Comments: <%= @post.comments_counter %></p>,
                            <p>Likes: <%= @post.likes_counter %></p><br>
                        </div>
                    </div>
                <p><%= @post.text %></p><br>
            </div>
    </div>
</div>

<div class="all-coments-in-posts-outer">
    <% @post.display_comments.each do |comment| %>
        <div class="all-coments-in-posts">
                <p><%= comment.author.name %>: </p>
                <p><%= comment.text %></p>
            </div>
            <% if can? :destroy, @post %>
  <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %>
<% end %>
<% @comments.each do |comment| %>
  <% if can? :destroy, comment %>
    <%= link_to "Delete", comment_path(comment), method: :delete, data: { confirm: "Are you sure you want to delete this comment?" } %>
  <% end %>
<% end %>

<% end %>
</div>
